@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-green-color: #159959;
    --secondary-green-color: #0a542e;
    --red-normal: #d72929;
    --black-normal: #393939;
    --white-normal: #ffffff;
    --whatsapp-color: #2bcb04;
    --dark-light-color: #EAEAEA;
    --dark-fade-color: #A8A8A8;
    }
    body{
        color: var(--black-normal);
    }
